////
// Base Default Styles
////


// border box
*, 
*:before,
*:after {
	@include box-sizing(border-box);
}

html,
body {
	height: 100%;
}


// base defaults
body {
	background-color: $color-white;
	color: $base-body-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.75;
	margin: 0 auto;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	padding-top: $body-padding-mobile;
	position: relative;

	// large desktop
	@media #{$large-up} {
		padding-top: $body-padding-desktop;
	}
	
	// xlarge desktop
	@media #{$xlarge-up} {
		font-size: 14px;
	}

	&.prevent-scroll {
		overflow: hidden;
	}
	
} // body


// images
img {
	max-width: 100%;
}

a {
    color: inherit;

    &:hover {
        color: $color-cornflower-blue;
    }
}


// headers
@each $header, $font-size in	(h1, $font-size-h1),
								(h2, $font-size-h2),
								(h3, $font-size-h3) {

	#{$header} {
        color: inherit;
		font-size: $font-size/1.7; 
		font-weight: 500;
		line-height: 1;
		margin-bottom: 18px;

		@if ($header == h3) {
			font-weight: 400;
		}

		@media #{$large-up} {
			font-size: $font-size;
		}
		
	} // $header
								 
} // @each


// paragraphs
p {
	margin-bottom: 20px;
	
	&:last-child {
		margin-bottom: 0;
	}
	
} // p


// bold is bold, italic is italic
b {
	font-weight: 700;
}
i {
	font-style: italic;
}


// super/sub scripts
sub,
sup {
	font-size: 50%;
	line-height: 0;
	position: relative;
}
sub {
	bottom: -0.7ex;	
}
sup {
	top: -2ex;
}

.legal {
    font-size: rem-calc(10);
}

// image row
.image-row {
	text-align: center;

	&__image {
		display: inline-block;

		&:last-child {
			margin-right: 0;
		}
		
	}// .image-row__image

	// three up
	&--three-up {

		.image-row__image {
			margin-right: 37px;
			width: 28%;
		}
	}
}