// Footer 
.footer {
    background-color: $color-mine-shaft;
    color: $color-white;
    padding: 33px 0;

    &__navigation {
        text-align: center;

        &-item {
            display: inline-block;
            width: 24%;
        }
    }

    &__social {
        font-size: rem-calc(13);
    }
}