// Forms 
.form {
    input, 
    select,
    button {
        border-radius: 5px;
        text-align: center;
    }

    input,
    select {
        font-size: rem-calc(12);
        height: 27px;
        padding: 0;
    }

    &__submit {
        background-color: $color-malibu;
        padding: 12px 5px;
        width: 50%;

        &:hover,
        &:focus {
            background-color: $color-malibu;
        }

        &.success {
            background-color: $color-lima;
            color: $color-white;

            span {
                display: inline-block;
                margin-left: 5px;
                vertical-align: text-bottom;
            }
        }
    }
}// .form

// contact form 
.form--contact {
    input,
    select {
        display: inline-block;
    }

    input[name='city'],
    input[name='phone'],
    input[name='email'] {
        width: 49%;
    }

    input[name='firstName'],
    input[name='lastName'] {
        width: 100%;

        @media #{$large-up} {
            width: 49%;
        }
    }

    select {
        padding-left: 10px;
        width: 20%;
    }

    option[disabled=disabled] {
        color: #aaa;
        -webkit-appearance:none; 
    }

    input[name='zip'] {
        width: 28%;
    }

    button {
        margin: 30px 0 18px;
    }
}// .form--contact 