.h-text-left {
    text-align: left;
}

.h-text-center {
    text-align: center;
}

.h-text-right {
    text-align: right;
}

.h-text-italic {
    font-style: italic;
}

.has-border-right {
    border-right: 1px solid $color-white;
}

.h-headline-margin { 
    margin-top: 60px;

    @media #{$large-up} {
        margin-top: 70px;
    }
}