// Masthead
.masthead {
    background-color: $color-white;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.24);
    height: $body-padding-mobile;
    left: 0;
    padding: 12px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    @media #{$large-up} {
        height: $body-padding-desktop;
    }

    &__logo {
        height: auto;
        width: auto;

        @media #{$large-up} {
            height: 75px;
            width: 75px;
        }
    }

    // masthead navigation
    &__navigation {
        padding: 20px 0;
        text-align: center;

        &-item {
            display: inline-block;
            font-size: rem-calc(15);
            padding: 4px 0;
            width: 19%;
            vertical-align: middle;
        }
    }// .masthead__navigation

    // masthead employee login
    &__login {
       color: $color-cornflower-blue;
       font-size: $base-font-size; 
       
        @media #{$large-up} {
            padding: 25px 0;
        }
    }

    // mobile navigation toggle
    &__mobile-menu-toggle {
        font-size: rem-calc(13);
        padding: 12px 0;
        position: relative;
        text-align: right;
        text-transform: uppercase;
        z-index: 9999;

        span {
            color: $color-cerulean;
            display: inline-block;
            font-weight: 700;
            vertical-align: middle;
        }

        .close-icon {
            color: $color-dove-gray;
            font-size: rem-calc(18);
        }
    }


    // mobile navigation
    &__mobile-navigation {
        display: block;
        background-color: $color-white;
        height: 100vh;
        left: -9999px;
        padding: 0 20px;
        position: fixed;
        transition: all 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        top: $body-padding-mobile;
        width: 100vw;
        z-index: 9999;

        &.is-visible {
            left: 0;
        }
        
        &-item {
            border-bottom: 1px solid $color-concrete;
            font-size: rem-calc(13);
            
            a {
                display: inline-block;
                height: 100%;
                padding: 29px 0 15px;
                width: 100%;
            }

            &:first-child {
                border-top: 1px solid $color-concrete;
            }
        }


    }
}// .masthead