// Section
.section {
    padding: 55px 15px;

    // section cta
    &__cta {
        margin: 0 auto 20px;
    }// .section__cta

    // section image
    &__image {
        margin: 0 auto 20px;
        width: 212px;

        @media #{$large-up} {
            margin: 0 0 18px;
            width: auto;
        }

        // wide image
        &--wide {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }// .section__image

    &__image-caption {
        font-size: rem-calc(12);
        font-style: italic;
        text-align: center;

        @media #{$large-up} {
            font-size: rem-calc(16);
        }
    }// .section__image-caption

}// .section

.section--dark {
    background-color: $color-black;
}

.section--light {
    background-color: $color-alabaster;
}

// section where image is top on mobile
.section--image-top {
    
    // section headline
    .section__headline {
        margin-top: 40px;

        @media #{$large-up} {
           margin-top: 0;
        }
    }
}// .section--image-top

// clients we serve
.section--clients-we-serve {

    // section headline
    .section__headline {
        margin: 40px 0 5px;
    }

    // section navigation
    .section__navigation {
        margin-top: 55px;
    }// .section__navigation

}// .section--clients-we-serve


// why choose us
.section--why-choose-us {

    // section image
    .section__image {
        margin-bottom: 20px;

        @media #{$large-up} {
           margin: 60px 0 18px;
        }
    }

}// .section--why-choose-us

// making section image wider for these sections
.section--why-use-commerical,
.section--why-us {

    .section__image {
        position: relative;
        transform: none;
        top: 0;
        width: 100%;

        @media #{$large-up} {
            position: absolute;
            right: 0;
            transform: translateY(-50%);
            top: 50%;
            width: 500px;
        }
    }
}

// why use commercial
.section--why-use-commerical {

    .section__image {
        max-width: 700px;

        @media #{$xlarge-up} {
            width: 700px
        }
    }
}

// why us
.section--why-us {
    
    .section__image {
        max-width: 560px;

        @media #{$xlarge-up} {
            width: 560px
        }
    }
}

//  our story
.section--our-story {

    .section__subheadline {
        font-weight: 500;
    }
}


// client list
.section--client-list {

    // .section headline
    .section__headline {
        color: $color-white;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 60px;
        text-align: center;

        @media #{$large-up} {
            font-size: 48px;
        }
    }

    .section__image {
        text-align: center;
        width: auto;
    }
}// .section--client-list


// .section client types
.section--client-types {
    border-bottom: 1px solid $color-concrete;
}

// faq section
.section--faq {

    .section__headline {
        font-size: $font-size-h2/1.7;
        margin-bottom: 60px;

        @media #{$large-up} {
            font-size: $font-size-h2;
        }
    }

    .list--faq {

        .list-item {
            display: inline-block;
            margin-bottom: 20px;
            width: 100%;
            vertical-align: top;

            @media #{$large-up} {
                margin-bottom: 45px;
                width: 45%;
            }

            &:nth-of-type(odd) {
                @media #{$large-up} {
                    margin-right: 4%;
                }
            }

            &__question {
                font-weight: 500;
            }
        }
    }
}// .sectoin--faq