// Colors
$color-alabaster: #f9f9f9;
$color-black: #000;
$color-cerulean: #009FDB;
$color-concrete: #F2F2F2;
$color-cornflower-blue: #6287FA;
$color-daisy-bush: #5B2999;
$color-dove-gray: #696969;
$color-havelock-blue: #4A90E2;
$color-malibu: #7890FE;
$color-mine-shaft: #353535;
$color-nevada: #6D6E71;
$color-white: #fff;
$color-lima: #7ed321;

$base-font-size: 12px;
$base-body-color: $color-nevada;
$base-font-family:'Gotham', sans-serif;

$font-size-h1: rem-calc(68);
$font-size-h2: rem-calc(48);
$font-size-h3: rem-calc(24);

$body-padding-desktop: 99px;
$body-padding-mobile: 70px;
