// Colors
$color-nevada: #6D6E71;
$color-mine-shaft: #353535;
$color-malibu: #7890FE;
$color-daisy-bush: #5B2999;
$color-cornflower-blue: #6287FA;
$color-concrete: #F2F2F2;
$color-black: #000;
$color-white: #fff;
$color-cerulean: #009FDB;

$base-font-size: 12px;
$base-body-color: $color-nevada;
$base-font-family:'Gotham', sans-serif;

$font-size-h1: rem-calc(68);
$font-size-h2: rem-calc(48);
